.navigation li  {
	display:block;
	list-style-type: none;
	color:#999;
	float: right;
	/*overflow: hidden;*/
	text-decoration: none;
	padding: 16px 15px;
	
	margin-top:16px;
	text-align: center;
	font-family:"Karla";
	font-size: 10px;
}
.header li a:hover {
	list-style-type: none;
	color:#000;
	text-decoration: none;
}

#logo1 {
	float: left;
	padding:16px 0px;
	margin-top:10px;
	font-family:"Roboto+Slab:400,700";
	color:#000;
	font-size:16px;
}
/*well/jumbotron*/

#man {
	background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/coololdguy%20-%20Copy_zpsixhtlkhr.jpg") no-repeat center center;
	min-height: 500px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow:hidden;
	background-size:cover;
}
#blue {
	background-image: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/blue%20-%20Copy%202_zpsqbnlgucm.png");
	margin: 0px 0px 0px 435px;
	
	padding-top: 120px;
	padding-bottom:227.5px;
	padding-right:50px;
	padding-left: 50px;
	color: #ffffff;
}

#blue p {
	font-family: "Karla";
}
#blue {
	font-family:"Roboto+Slab:400,700";
}
#blue h6{
	font-family:"Volkhov";
	font-style: italic;
}
/*main/arrivals*/
.arrivals {
	
	margin-top: 50px;
	margin-bottom: 25px;
	font-family:"Volkhov";
	font-style: italic;
	font-size: 10px;
	color:#999;
}
#newArrivals{
	font-family:"Roboto+Slab:400,700";
	color:#000;
	font-size: 16px;
}

/*Fashion Photos*/

.supporting {
	color:#000;
	font-family:"Roboto+Slab:400,700";
	font-style: bold;
	text-align: center;
	font-size: 10px;
}
.supporting p {
	/*margin-top: 20px;*/
	padding-top: 20px;
	margin-bottom:0;
	padding-bottom:-5;
}
.price {
	color:#999;
	font-family:"Volkhov";
	padding-top: -5px;
	margin-top:0px;
}

/*brand-logos*/
.brand li{
	display: inline-block;
	padding: 16px;
}

/*Shipping*/
.shipping {
	padding-right:0px;
}
.shipping img {
	float:left;
	margin:0px;
	padding:10px;
}
#freeReturn, #freeShipping, #orderTracking {
	background-color:#f6f6f6;
	max-width:500px;
	margin-right:10px;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:100px;
	display:inline-block;
	position: relative;
}
.shipping ul {
	/*display: block;*/
	background-color: #F6F6F6;
	padding-right:0;
	
}
.shipping li {
	display: block;
	font-family:"Volkhov"; 
	font-style:italic;
	font-size: 10px;
}
.shipping p {
	font-family: "Roboto+Slab:400,700";
	font-style:none;
	color: #000;
	padding:0px;
}

/*Map*/
.map {
background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/map_zpsn9x4y1tv.png") no-repeat center center;
        background-size: cover;
        height: 300px;
        margin:25px;
}