.navigation li {
	display:inline;
	list-style-type: none;
	
	/*overflow: hidden;*/
	text-decoration: none;
	float:right;
    padding: 16px 0px 10px 15px;
	font-stretch: condensed;
	margin-top:16px;
	margin-bottom:16px;
	
	margin-right:22px;
	text-align: left;
	font-family:"Karla";
	font-size: 12px;
}
.navigation li a:link{
	color:#999;
	}
.header li a:hover {
	list-style-type: none;
	color:#000;
	text-decoration: none;
	font-weight:bold;

}
.header li a:active {
	color:#000;
	text-decoration:none;
}
.header li a:visited {
	color:#000;
	text-decoration:none;
}
#logo1 a:visited{
	color:#000;
}
/*is the below style connecting?*/
#logo1 a:active {
	color:#000;
	text-decoration:none;
}
#logo1 a:link{
	color:#000;
}
#logo1 {
	float: left;
	padding-top:16px;
	font-family:"Roboto Slab";
	font-weight:bold;
	color:#000;
	font-size:16px;
	letter-spacing: 2px;
	margin-bottom:16px;
	margin-top:16px;
	margin-left:0px;
}
/*#logo1 a:hover {
	list-style-type: none;
	color:#000;
	text-decoration: none;
	font-weight:bold;
}*/
#logo1 {
	float: left;
	padding-top:16px;
	font-family:"Roboto Slab";
	font-weight:bold;
	color:#000;
	font-size:16px;
	letter-spacing: 2px;
	margin-bottom:16px;
	margin-top:16px;
	margin-left:0px;
}


/*well/jumbotron*/

#man {
	background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/coololdguy%20-%20Copy_zpsixhtlkhr.jpg") no-repeat center center;

	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow:hidden;
	background-size:cover;
}
#blue {
	background-image: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/blue%20-%20Copy%202_zpsqbnlgucm.png");
	margin-left: 700px;
	
	padding-top: 120px;
	padding-bottom:227.5px;
	padding-right:50px;
	padding-left: 50px;
	color: #ffffff;
	height:800px;
}

#blue p {
	font-family: "Karla";
	font-size:12px;
}
#blue {
	font-family:"Roboto Slab";
	padding-top:325px;
}

#blue h6{
	font-family:"Volkhov";
	font-style: italic;
	padding-top:15px;

}
#blue h3 {
	font-weight:bold;
	letter-spacing: 3px;
	font-size:20px;
	font-family:"Roboto Slab";
	padding-bottom:15px;
}
/*main/arrivals*/
.arrivals {
	
	margin-top: 50px;
	margin-bottom: 25px;
	font-family:"Volkhov";
	font-style: italic;
	font-size: 10px;
	color:#999;
}
#newArrivals{
	font-family:"Roboto Slab";
	color:#000;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
}

/*Fashion Photos*/

.supporting {
	color:#000;
	font-family:"Roboto Slab";
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	line-height: .5em;
	/*line-height: -10px;*/
}
.supporting p {
    margin-top: 20px;
}
.price {
	color:#999;
	font-family:"Volkhov";
	padding-bottom: 10px;
	line-height: -10px;
}

/*brand-logos*/

.brand {
text-align: center;
width: 100%;
}
.brand .container {
width: 100%;
}
.brand li{
display: inline-block;
margin-right: 60.5px;
}

/*Shipping*/

.shipping .container {
width: 100%;
}

.shipping img {
	float:left;
	margin:0px;
	padding:10px 30px;
	background-color:#f6f6f6;
}
#freeReturn, #freeShipping, #orderTracking{
	background-color:#f6f6f6;
	min-width:400px;
	margin-right:5px;
	padding-top:25px;
	padding-bottom:10px;
	display:inline-block;
	position: relative;
	color:#999;
	margin-left:10px;
}

.shipping ul {
	/*display: block;*/
	background-color: #F6F6F6;
	padding-right:10px;
}
.shipping li {
	display: block;
	font-family:"Volkhov"; 
	font-style:italic;
	font-size: 10px;"
	color:#999;
}

.shipping p {
	font-family:"Roboto Slab";
	font-weight:bold;
	font-style: normal;
	color: #000;
	padding:0px;
	letter-spacing:2px;
	font-size:10px;
}



/*Map*/
.map {
background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/map_zpsn9x4y1tv.png") no-repeat center center;
        background-size: cover;
        height: 300px;
        margin-bottom:25px;
        margin-top:25px;
        margin-left:10px;
        margin-right:10px;
}

/*Footer*/
.footer {
	background-color:#272727;
	margin-top:25px;
	margin-left:10px;
    margin-right:10px;
}
.footer li {
	display: inline-block;
	color:#999;
	font-family: "Karla";
	padding:15px;
	font-size:10px;
}
.footer li a:visited{
	text-decoration: none;
	color:#999;
}
.footer li a:link{
	text-decoration: none;
	color:#999;
}
.footer li a:hover{
	text-decoration: none;
	color:#fff;
	font-weight:bold;
}
.footer li a:active{
	text-decoration: none;
	color:#fff;
	font-weight:bold;
}

.footer img {
	display: inline-block;
	padding-left:15px;
	padding-top:15px;
	float:right;
	padding-right:25px;
}

/*PAGES2.HTML*/
/*Top Picture*/
.oldMansKids {
	background:url("http://i1382.photobucket.com/albums/ah266/ryanfairist/oldguyskids_zpsuvxoddth.jpg") no-repeat;
	overflow: hidden;
	width: 100%;
	min-height:300px;
	color:#ffffff;
	background-size: cover;
}
.oldMansKids h5 {
	margin-top:150px;
	font-family: "Karla";
	font-size: 10px;
	
}

.oldMansKids p{
	font-family: "Roboto Slab";
	font-weight: bold;
    letter-spacing: 5px;
    font-size: 16px;
}



/*SupportingPage 2*/

#picTitle p {
	font-family: "Karla";
	font-weight: bold;
	font-size: 10px;
	color:#000;
	margin-top:35px;
	margin-bottom:25px;
	text-align:right;

}

/*Purchase.html*/


#pDetail {
	padding-left:10px;
}
.socialMedia2 li {
	display:block;
	border-style: none;
	margin-right:75px;
}
.btn  {
	margin-top:50px;
}
.purchaseDetail {
	background-color:#F6F6F6;
	margin:10px;
	height:600px;
}
.purchaseDetail p{
	font-family: "Karla";
	font-size: 12px;
	color:#999;
	margin-right:100px;
}
.purchaseDetail h6{
	font-family: "Roboto Slab";
	font-weight:bold;
	color:#000;
	letter-spacing:2px;
}
.PurchaseButton p {
	color:#000;
	border:2px solid #000;
	border-radius:0px;
	font-family: "Karla";
	font-style: bold;
	background-color:#f6f6f6;
	margin-right:360px;
	text-align: center;
	font-size:12px;
	padding-right:40px;
	padding-left:40px;
} 
.PurchaseButton p:hover {
	color:#fff;
	border:2px solid #000;
	border-radius:0px;
	font-family: "Karla";
	font-style: bold;
	background-color:#000;
	margin-right:360px;
	text-align: center;
	font-size:12px;
	padding-right:40px;
	padding-left:40px;
}
#andReturn {
	color: #73cdd7;
}


hr {
     color: #999;
     background: #999; 
     width: 60%; 
     height: .5px;
}
/*Product Desciption Plus*/
.description p {
	font-family: "Roboto Slab";
	font-weight: bold;
	color:#000;
}
#moreDetials {
	font-family: "Karla";
	color:#999;
	font-size:10px;
	margin-bottom: 20px;
}

#hanger {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:40px;
}
