.navigation li {
	display:inline;
	list-style-type: none;
	
	/*overflow: hidden;*/
	text-decoration: none;
	float:right;
    padding: 16px 0px 10px 15px;
	font-stretch: condensed;
	margin-top:16px;
	margin-bottom:16px;
	
	margin-right:22px;
	text-align: left;
	font-family:"Karla";
	font-size: 12px;
}
.navigation li a:link{
	color:#999;
	}
.header li a:hover {
	list-style-type: none;
	color:#000;
	text-decoration: none;
	font-weight:bold;

}
#logo1 a:link{
	color:#000;
}
#logo1 {
	float: left;
	padding-top:16px;
	font-family:"Roboto Slab";
	font-weight:bold;
	color:#000;
	font-size:16px;
	letter-spacing: 2px;
	margin-bottom:16px;
	margin-top:16px;
	margin-left:0px;
}


/*well/jumbotron*/

#man {
	background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/coololdguy%20-%20Copy_zpsixhtlkhr.jpg") no-repeat center center;

	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow:hidden;
	background-size:cover;
}
#blue {
	background-image: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/blue%20-%20Copy%202_zpsqbnlgucm.png");
	margin-left: 700px;
	
	padding-top: 120px;
	padding-bottom:227.5px;
	padding-right:50px;
	padding-left: 50px;
	color: #ffffff;
	height:800px;
}

#blue p {
	font-family: "Karla";
	font-size:12px;
}
#blue {
	font-family:"Roboto Slab";
	padding-top:325px;
}

#blue h6{
	font-family:"Volkhov";
	font-style: italic;
	padding-top:15px;

}
#blue h3 {
	font-weight:bold;
	letter-spacing: 3px;
	font-size:20px;
	font-family:"Roboto Slab";
	padding-bottom:15px;
}
/*main/arrivals*/
.arrivals {
	
	margin-top: 50px;
	margin-bottom: 25px;
	font-family:"Volkhov";
	font-style: italic;
	font-size: 10px;
	color:#999;
}
#newArrivals{
	font-family:"Roboto+Slab:400,700";
	color:#000;
	font-size: 16px;
}

/*Fashion Photos*/

.supporting {
	color:#000;
	font-family:"Roboto+Slab:400,700";
	font-style: bold;
	text-align: center;
	font-size: 10px;
}
.supporting p {
	/*margin-top: 20px;*/
	padding-top: 20px;
	margin-bottom:0;
	padding-bottom:-5;
}
.price {
	color:#999;
	font-family:"Volkhov";
	padding-top: -5px;
	margin-top:0px;
}

/*brand-logos*/
.brand li{
	display: inline-block;
	padding: 16px;
}

/*Shipping*/
.shipping {
	padding-right:0px;
}
.shipping img {
	float:left;
	margin:0px;
	padding:10px;
}
#freeReturn, #freeShipping, #orderTracking {
	background-color:#f6f6f6;
	max-width:500px;
	margin-right:10px;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:100px;
	display:inline-block;
	position: relative;
}
.shipping ul {
	/*display: block;*/
	background-color: #F6F6F6;
	padding-right:0;
	
}
.shipping li {
	display: block;
	font-family:"Volkhov"; 
	font-style:italic;
	font-size: 10px;
}
.shipping p {
	font-family: "Roboto+Slab:400,700";
	font-style:none;
	color: #000;
	padding:0px;
}

.price {
	padding-bottom: 10px;
}

/*Map*/
.map {
background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/map_zpsn9x4y1tv.png") no-repeat center center;
        background-size: cover;
        height: 300px;
        margin:25px;
}

/*Footer*/
.footer {
	background-color:#272727;
	margin:25px;
}
.footer li {
	display: inline-block;
	color:#999;
	font-family: "Karla";
	padding:15px;
	font-size:10px;
}
.footer img {
	display: inline-block;
	padding-left:15px;
	padding-top:15px;
	float:right;
	padding-right:25px;
}

/*PAGES2.HTML*/
/*Top Picture*/
.oldMansKids .jumbotron {
	background:url("http://i1382.photobucket.com/albums/ah266/ryanfairist/oldguyskids_zpsuvxoddth.jpg") no-repeat center center;
	background-attachment: cover;
	overflow: hidden;
	width: 100%;
	min-height:300px;
	color:#ffffff;
}
.oldMansKids .jumbotron h5 {
	margin-top:75px;
	font-family: "Karla";
	font-size: 10px;
}

.oldMansKids .jumbotron p{
	font-family: "Roboto+Slab:400,700";
}
/*.jumbotron {
  height: 300px;/* need image to show more of face*/
  /*background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/oldguyskids_zpsuvxoddth.jpg") no-repeat center center;
  background-size: cover;
  padding-top:25px;
  margin: 25px;

}*/
/*.oldMansKids .jumbotron{
	color:#ffffff;
	background: url("http://i1382.photobucket.com/albums/ah266/ryanfairist/oldguyskids_zpsuvxoddth.jpg");
	background-attachment: fixed;
	min-height:300px;
	margin-top:5px;
	margin-bottom:5px;
}
/*SupportingPage 2*/

.picTitle {
	font-family: "Karla";
	font-style: bold;
}

/*Purchase.html*/

/*jumbotron purchase*/
/*#matrix{
	background:url("http://i1382.photobucket.com/albums/ah266/ryanfairist/matrixclothes1_zpsnlubedpv.jpg");
	size:cover;
	height:800px;
	width:500px;
}*/
#pDetail {
	padding-left:100px;
}
.socialMedia2 li {
	display:block;
	border-style: none;
}
.btn  {
	margin:10px;
}
.purchaseDetail p{
	font-family: "Karla";
	font-size: 10px;
	color:#999;
}
.purchaseDetail h5{
	font-family: "Roboto+Slab:400,700";
	color:#000;
}
.PurchaseButton p {
	color:#000;
	border:2px solid #000;
	font-family: "Karla";
	font-style: bold;
	background-color:#ffffff;
	margin-right:360px;
	text-align: center;
	padding-left:40px;
	padding-right:100px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:12px;
} 
#andReturn {
	color: #73cdd7;
}


hr {
     color: #999;
     background: #999; 
     width: 60%; 
     height: .5px;
}
/*Product Desciption Plus*/
.description p {
	font-family: "Roboto+Slab:400,700";
	color:#000;
}
#moreDetials {
	font-family: "Karla";
	color:#999;
	font-size:10px;
	margin-bottom: 20px;
}

#hanger {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:0px;
    margin-bottom:0px;
    margin-top:40px;
}
